Source: ros-foxy-maliput-py
Section: misc
Priority: optional
Maintainer: Andrew Best <andrew.best@tri.global>
Build-Depends: debhelper (>= 9.0.0), pybind11-dev, python3-dev, ros-foxy-ament-cmake, ros-foxy-ament-cmake-clang-format <!nocheck>, ros-foxy-ament-cmake-flake8 <!nocheck>, ros-foxy-ament-cmake-pytest <!nocheck>, ros-foxy-maliput, ros-foxy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-foxy-maliput-py
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, pybind11-dev, ros-foxy-maliput, ros-foxy-ros-workspace
Description: Maliput bindings
